#mapid {
	width: 100%;
	height: 400px;
}
p {
	display: inline;
	font-weight: normal;
}

#info {
	font-family: arial;
	font-weight: bold;
	color: #216136;
	font-size: 12pt;
	padding: 5px;
	text-align: center;
}

button {
	margin: 5px;
	font-size: 12pt;
	padding: 5px;
	background-color: #216136;
	color: #FFFFFF;
	border: none;
}
.leaflet-marker-icon{
	width: 54px !important;
	height: 55px !important;
}
